@charset "UTF-8";

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/SFProDisplay-Regular.woff") format("woff"), url("../fonts/SFProDisplay-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SF Pro Display';
  src: url("../fonts/SFProDisplay-Medium.woff2") format("woff2"), url("../fonts/SFProDisplay-Medium.woff") format("woff"), url("../fonts/SFProDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "SF Pro Display";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  /*Для сглаживания шрифтов (особенно на MacOC):*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "SF Pro Display";
}

input::-ms-clear {
  display: none;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a {
  color: inherit;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #fff;
  color: #292929;
  font-size: 16px;
}

body._lock {
  overflow: hidden;
}

/*******************************/

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.page__body {
  padding-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page__col:first-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 74%;
          flex: 0 1 74%;
  margin-right: 30px;
  min-width: 0;
}

.page__col:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 26%;
          flex: 0 1 26%;
}

._container {
  max-width: 1430px;
  margin: 0 auto;
  padding: 0px 15px;
}

/*******************************/

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

/* .input {border-radius: 0 !important;}   */

.btn {
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  cursor: pointer;
  padding: 0 20px;
  min-width: 230px;
  min-height: 50px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #EF6437;
  -webkit-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.btn span {
  font-family: 'SF Pro Display';
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #EF6437;
}

.btn:hover,
.btn:active {
  background-color: #EF6437;
}

.btn:hover span,
.btn:active span {
  color: #fff;
}

/*******************************/

.header {
  border-bottom: 1px solid #C4C4C4;
  -webkit-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.header__body {
  padding: 20px 0px;
  padding-bottom: 20px;
}

.header__top {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.logo__img {
  margin-right: 10px;
  width: 77px;
  height: 77px;
  -o-object-fit: cover;
     object-fit: cover;
}

.logo__text {
  max-width: 290px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  color: #EF6437;
}

.top-menu__buttons {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.top-menu__buttons li {
  margin-left: 14px;
  margin-bottom: 10px;
  min-height: 30px;
  min-width: 205px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #EF6437;
  border-radius: 5px;
  color: #EF6437;
  cursor: pointer;
  -webkit-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.top-menu__buttons li:hover,
.top-menu__buttons li:active {
  background: #EF6437;
  color: #fff;
}

.top-menu__buttons__link {
  padding: 10px;
  display: block;
  font-family: 'SF Pro Display';
  font-weight: 400;
  font-size: 16px;
  line-height: 118.75%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: inherit;
  -webkit-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.top-menu__burger {
  display: none;
}

.bottom-menu {
  display: none;
}

.bottom-sub-menu {
  display: inline-block;
  position: absolute;
  right: -100%;
  top: 40px;
  background-color: #6b6969;
  -webkit-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.bottom-sub-menu li {
  margin-bottom: 5px !important;
  padding: 5px 10px;
  min-height: 30px;
  min-width: 205px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
  -webkit-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.bottom-sub-menu li:last-child {
  margin-bottom: 0 !important;
}

.bottom-sub-menu li:hover,
.bottom-sub-menu li:active {
  background: #EF6437;
  color: #fff;
}

.bottom-sub-menu__link {
  padding: 10px;
  display: block;
  font-family: 'SF Pro Display';
  font-weight: 400;
  font-size: 16px;
  line-height: 118.75%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: inherit;
}

.bottom-sub-menu._active {
  -webkit-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
  display: inline-block;
  right: 50%;
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
}

.menu {
  margin-right: 20px;
}

.menu__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -15px;
}

.menu__list li {
  padding: 0px 15px;
  min-height: 21px;
  -webkit-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.menu__list li:hover .sub-menu,
.menu__list li:active .sub-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__link {
  font-family: 'SF Pro Display';
  font-weight: 400;
  font-size: 18px;
  line-height: 116.66667%;
  color: #292929;
}

.menu__link:hover,
.menu__link:active {
  color: #EF6437;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.sub-menu {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 40px;
  position: absolute;
  min-width: 895px;
  z-index: 10;
  top: 100%;
  left: 15px;
  background-color: #fff;
  -webkit-box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 4px 4px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sub-menu__col {
  margin-right: 50px;
}

.sub-menu__col:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.sub-menu__col:last-child {
  margin-right: 0;
}

.sub-menu__item {
  margin-bottom: 20px;
  -webkit-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.sub-menu__link {
  font-family: 'SF Pro Display';
  font-weight: 400;
  font-size: 18px;
  line-height: 110%;
  color: #292929;
  -webkit-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.sub-menu__link:hover,
.sub-menu__link:active,
.sub-menu__link._active {
  color: #EF6437;
}

.sub-menu__images {
  width: 100%;
  max-width: 333px;
  max-height: 170px;
  overflow: hidden;
  text-align: right;
}

.sub-menu__images img {
  display: none;
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.sub-menu__images img._active {
  display: block;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__text {
  margin-right: 8px;
  display: inline-block;
  font-family: 'SF Pro Display';
  font-weight: 400;
  font-size: 18px;
  line-height: 116.66667%;
  color: #292929;
}

.main__heart {
  position: relative;
  z-index: 1;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
  overflow: hidden;
  width: 22px;
  height: 22px;
  background: url("../img/heart.svg") center/21px 21px no-repeat;
}

.main__heart._active {
  -webkit-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
  background: url("../img/heart_red.svg") center right/21px 21px no-repeat;
}

.footer {
  background-color: #F3F3F3;
}

.footer__body {
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.footer__col {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  margin-right: 15px;
}

.footer__col:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 39%;
          flex: 0 1 39%;
  margin-right: 0;
}

.footer__list {
  height: 100%;
}

.footer__copy {
  text-align: center;
  font-family: 'SF Pro Display';
  font-weight: 300;
  font-size: 18px;
  line-height: 130%;
  color: #292929;
}

.list-footer li {
  margin-bottom: 20px;
  margin-bottom: 20px;
}

.list-footer li:last-child {
  margin-bottom: 0;
}

.list-footer__title {
  min-height: 21px;
  font-family: 'SF Pro Display';
  font-weight: 500;
  font-size: 18px;
  line-height: 116.66667%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #292929;
}

.list-footer__link {
  font-family: 'SF Pro Display';
  font-weight: 300;
  font-size: 18px;
  line-height: 116.66667%;
  color: #292929;
}

.list-footer__link:hover,
.list-footer__link:active {
  text-decoration: underline;
}

.list-footer__title-link {
  font-family: 'SF Pro Display';
  font-weight: 500;
  font-size: 18px;
  line-height: 116.66667%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #292929;
}

.list-footer__title-link:hover,
.list-footer__title-link:active {
  text-decoration: underline;
}

.contacts-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contacts-footer__col {
  margin-bottom: 50px;
}

.contacts-footer__col:first-child {
  padding-right: 50px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 60%;
          flex: 0 1 60%;
}

.contacts-footer__col:nth-child(2) {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}

.contacts-footer__col:last-child {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: 0;
}

.contacts-footer__contacts li {
  margin-bottom: 20px;
  padding-left: 25px;
  min-height: 24px;
}

.contacts-footer__contacts li:last-child {
  margin-bottom: 0;
}

.contacts-footer__tel {
  background: url("../img/footer/tel.svg") left center/27px 24px no-repeat;
}

.contacts-footer__mail {
  background: url("../img/footer/email.svg") left center/27px 24px no-repeat;
}

.contacts-footer__chat {
  background: url("../img/footer//speech-bubble.svg") left center/27px 24px no-repeat;
}

.contacts-footer__link {
  display: inline-block;
  padding-left: 10px;
  font-family: 'SF Pro Display';
  font-weight: 400;
  font-size: 18px;
  line-height: 116.66667%;
  color: #292929;
  vertical-align: middle;
}

.contacts-footer__link:hover,
.contacts-footer__link:active {
  text-decoration: underline;
}

.contacts-footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.contacts-footer__scan {
  margin-right: 25px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 106px;
          flex: 0 1 106px;
  width: 106px;
  height: 106px;
}

.contacts-footer__scan img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: contain;
     object-fit: contain;
}

.contacts-footer__number {
  display: inline-block;
  font-family: 'SF Pro Display';
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #292929;
}

.social-footer__title {
  margin-bottom: 10px;
  min-height: 21px;
  font-family: 'SF Pro Display';
  font-weight: 500;
  font-size: 18px;
  line-height: 116.66667%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #292929;
}

.social-footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -5px;
}

.social-footer__col {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  padding: 0px 5px;
  margin-bottom: 10px;
}

.social-footer__item {
  display: inline-block;
  width: 35px;
  height: 32px;
  border-radius: 50%;
  -webkit-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.social-footer__item img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: contain;
     object-fit: contain;
}

.social-footer__item:hover,
.social-footer__item:active {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.footer-spollers {
  display: none;
}

.footer-spollers__item {
  margin-bottom: 10px;
}

.footer-spollers__item:last-child {
  margin-bottom: 0;
}

.footer-spollers__title {
  display: block;
  position: relative;
  z-index: 1;
  padding: 10px 70px 10px 20px;
  font-family: 'SF Pro Display';
  font-weight: 500;
  font-size: 18px;
  line-height: 116.66667%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #292929;
  background-color: #fff;
  cursor: pointer;
}

.footer-spollers__title::before {
  content: '';
  width: 18px;
  height: 2px;
  background-color: #000;
  -webkit-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translate(0px, -50%) rotate(-45deg);
      -ms-transform: translate(0px, -50%) rotate(-45deg);
          transform: translate(0px, -50%) rotate(-45deg);
}

.footer-spollers__title::after {
  content: '';
  width: 18px;
  height: 2px;
  background-color: #000;
  -webkit-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
  position: absolute;
  top: 50%;
  right: 27px;
  -webkit-transform: translate(0px, -50%) rotate(45deg);
      -ms-transform: translate(0px, -50%) rotate(45deg);
          transform: translate(0px, -50%) rotate(45deg);
}

.footer-spollers__title._active::before {
  -webkit-transform: translate(0px, -50%) rotate(45deg);
      -ms-transform: translate(0px, -50%) rotate(45deg);
          transform: translate(0px, -50%) rotate(45deg);
}

.footer-spollers__title._active::after {
  -webkit-transform: translate(0px, -50%) rotate(-45deg);
      -ms-transform: translate(0px, -50%) rotate(-45deg);
          transform: translate(0px, -50%) rotate(-45deg);
}

.footer-spollers__body {
  display: none;
  padding-top: 10px;
  padding-left: 20px;
}

.footer-spollers__link {
  display: block;
  margin-bottom: 10px;
  font-family: 'SF Pro Display';
  font-weight: 300;
  font-size: 18px;
  line-height: 116.66667%;
  color: #292929;
}

.footer-spollers__link:hover,
.footer-spollers__link:active {
  text-decoration: underline;
}

.footer-spollers__title-link {
  display: block;
  margin-bottom: 10px;
  font-family: 'SF Pro Display';
  font-weight: 500;
  font-size: 18px;
  line-height: 116.66667%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #292929;
  cursor: pointer;
}

.footer-spollers__title-link:hover,
.footer-spollers__title-link:active {
  text-decoration: underline;
}

/*******************************/

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.section:last-child {
  padding-bottom: 100px;
}

.section__top {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section__title {
  margin-right: 15px;
  font-family: 'SF Pro Display';
  font-weight: 500;
  font-size: 36px;
  line-height: 110%;
  color: #292929;
}

.section__link {
  display: inline-block;
  padding-right: 45px;
  font-family: 'SF Pro Display';
  font-weight: 300;
  font-size: 16px;
  line-height: 118.75%;
  color: #292929;
  background: url("../img/arrow.svg") center right/30px 10px no-repeat;
  cursor: pointer;
}

.section__link:hover,
.section__link:active {
  -webkit-animation: arrow 1s infinite linear;
          animation: arrow 1s infinite linear;
}

@-webkit-keyframes arrow {
  0% {
    background-position: center right 0px;
  }

  50% {
    background-position: center right 5px;
  }

  100% {
    background-position: center right 0px;
  }
}

@keyframes arrow {
  0% {
    background-position: center right 0px;
  }

  50% {
    background-position: center right 5px;
  }

  100% {
    background-position: center right 0px;
  }
}

.section__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -15px;
}

.section__col {
  padding: 0px 15px;
  margin-bottom: 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.3333%;
          flex: 0 1 33.3333%;
}

.section-item {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-item_top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-item__header {
  margin-bottom: 7px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-item__pay {
  margin-right: 15px;
  display: inline-block;
  font-family: 'SF Pro Display';
  font-weight: 400;
  font-size: 18px;
  line-height: 116.66667%;
  border-bottom: 1px solid #EF6437;
  color: #EF6437;
  -webkit-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.section-item__pay:hover,
.section-item__pay:active {
  color: #c2512b;
  border-bottom: 1px solid #c2512b;
}

.section-item__price {
  margin-right: 15px;
  font-family: 'SF Pro Display';
  font-weight: 500;
  font-size: 18px;
  line-height: 116.66667%;
  color: #292929;
}

.section-item__place {
  padding-left: 25px;
  display: inline-block;
  min-height: 20px;
  font-family: 'SF Pro Display';
  font-weight: 400;
  font-size: 18px;
  line-height: 116.66667%;
  color: #292929;
  background: url("../img/pin.svg") left center/20px 20px no-repeat;
}

.section-item__image {
  position: relative;
  z-index: 1;
  margin-bottom: 10px;
  padding-bottom: 64%;
  border-radius: 5px;
  overflow: hidden;
  -webkit-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.section-item__heart {
  position: absolute;
  z-index: 2;
  width: 33px;
  height: 29px;
  top: 10px;
  right: 10px;
  background: url("../img/heart.svg") center/33px 29px no-repeat;
}

.section-item__heart._active {
  -webkit-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
  background: url("../img/heart_red.svg") center right/33px 29px no-repeat;
}

.section-item__title {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-family: 'SF Pro Display';
  font-weight: 400;
  font-size: 20px;
  line-height: 130%;
  color: #292929;
}

.sidebar-section {
  margin-bottom: 35px;
  padding: 20px;
  background: #FFFFFF;
  border: 1px solid #DEDEDE;
  border-radius: 5px;
}

.sidebar-section__title {
  margin-bottom: 20px;
  font-family: 'SF Pro Display';
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #292929;
}

.sidebar-section__inner {
  margin-bottom: 15px;
}

.sidebar-section__link {
  display: inline-block;
  padding-right: 45px;
  font-family: 'SF Pro Display';
  font-weight: 500;
  font-size: 18px;
  line-height: 116.66667%;
  color: #292929;
  background: url("../img/arrow.svg") center right/30px 10px no-repeat;
  cursor: pointer;
}

.sidebar-section__link:hover,
.sidebar-section__link:active {
  -webkit-animation: arrow 1s infinite linear;
          animation: arrow 1s infinite linear;
}

@keyframes arrow {
  0% {
    background-position: center right 0px;
  }

  50% {
    background-position: center right 5px;
  }

  100% {
    background-position: center right 0px;
  }
}

.intro {
  position: relative;
  z-index: 1;
  margin-bottom: 50px;
  border: 1px solid #DEDEDE;
  border-radius: 5px;
}

.slider-help__slide {
  padding: 20px;
}

.slider-help__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider-help__col:first-child {
  margin-right: 20px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 589px;
          flex: 0 1 589px;
}

.slider-help__col:last-child {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 337px;
          flex: 0 1 337px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.slider-help__title {
  margin-right: 0px;
  margin-bottom: 20px;
}

.slider-help__text {
  margin-bottom: 30px;
}

.slider-help__text p {
  margin-bottom: 10px;
  font-family: 'SF Pro Display';
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #292929;
}

.slider-help__text p:last-child {
  margin-bottom: 0;
}

.slider-help__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-help__btn {
  margin-right: 30px;
}

.slider-help__heart {
  background: url("../img/heart.svg") center/33px 29px no-repeat;
}

.slider-help__heart._active {
  -webkit-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
  background: url("../img/heart_red.svg") center/33px 29px no-repeat;
}

.slider-help__image {
  width: 100%;
  height: 100%;
  padding-bottom: 107%;
  overflow: hidden;
  border-radius: 5px;
}

.slider-help__arrows {
  position: absolute;
  z-index: 2;
  bottom: 35px;
  left: 50%;
  width: 80px;
  height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider-help_prev {
  margin-right: 20px;
  background: url("../img/slider-help/arrow-prev.svg") no-repeat;
  width: 30px;
  height: 15px;
  cursor: pointer;
}

.slider-help_next {
  background: url("../img/slider-help/arrow-next.svg") no-repeat;
  width: 30px;
  height: 15px;
  cursor: pointer;
}

._swiper {
  overflow: hidden;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.form-help__row {
  width: 100%;
  margin-bottom: 20px;
  font-size: 0;
}

.form-help__item-radio-pay {
  display: inline-block;
  width: 50%;
}

.form-help__radio-pay {
  display: none;
}

.form-help__label-radio-pay {
  display: block;
  width: 100%;
  min-height: 50px;
  padding: 5px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'SF Pro Display';
  font-weight: 400;
  font-size: 14px;
  line-height: 121.42857%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #292929;
  background-color: #fff;
  border: 1px solid #DEDEDE;
  -webkit-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.form-help__label-radio-pay_left {
  border-radius: 5px 0px 0px 5px;
}

.form-help__label-radio-pay_right {
  border-radius: 0px 5px 5px 0px;
}

.form-help__label-radio-pay._active {
  color: #FFFFFF;
  background-color: #EF6437;
}

.form-help__label-title {
  display: block;
  margin-bottom: 10px;
  font-family: 'SF Pro Display';
  font-weight: 400;
  font-size: 16px;
  line-height: 118.75%;
  color: #292929;
}

.form-help__input {
  width: 100%;
  min-height: 50px;
  padding: 5px 15px;
  background: #FFFFFF;
  border: 1px solid #DEDEDE;
  border-radius: 5px;
}

.form-help__input::-webkit-input-placeholder {
  font-family: 'SF Pro Display';
  font-weight: 300;
  font-size: 18px;
  line-height: 116.66667%;
  color: #C4C4C4;
}

.form-help__input::-moz-placeholder {
  font-family: 'SF Pro Display';
  font-weight: 300;
  font-size: 18px;
  line-height: 116.66667%;
  color: #C4C4C4;
}

.form-help__input:-ms-input-placeholder {
  font-family: 'SF Pro Display';
  font-weight: 300;
  font-size: 18px;
  line-height: 116.66667%;
  color: #C4C4C4;
}

.form-help__input::-ms-input-placeholder {
  font-family: 'SF Pro Display';
  font-weight: 300;
  font-size: 18px;
  line-height: 116.66667%;
  color: #C4C4C4;
}

.form-help__input::placeholder {
  font-family: 'SF Pro Display';
  font-weight: 300;
  font-size: 18px;
  line-height: 116.66667%;
  color: #C4C4C4;
}

.form-help__items-radio-pay-amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -3.5px;
}

.form-help__item-radio-pay-amount {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0px 3.5px;
  margin-bottom: 10px;
}

.form-help__item-radio-pay-amount:last-child {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: 0;
}

.form-help__radio-pay-amount {
  display: none;
}

.form-help__label-radio-pay-amount {
  display: block;
  padding: 5px;
  min-height: 50px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'SF Pro Display';
  font-weight: 300;
  font-size: 18px;
  line-height: 116.66667%;
  color: #C4C4C4;
  border: 1px solid #DEDEDE;
  border-radius: 3px;
  -webkit-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}

.form-help__label-radio-pay-amount::-webkit-input-placeholder {
  font-family: 'SF Pro Display';
  font-weight: 300;
  font-size: 18px;
  line-height: 116.66667%;
  color: #C4C4C4;
}

.form-help__label-radio-pay-amount::-moz-placeholder {
  font-family: 'SF Pro Display';
  font-weight: 300;
  font-size: 18px;
  line-height: 116.66667%;
  color: #C4C4C4;
}

.form-help__label-radio-pay-amount:-ms-input-placeholder {
  font-family: 'SF Pro Display';
  font-weight: 300;
  font-size: 18px;
  line-height: 116.66667%;
  color: #C4C4C4;
}

.form-help__label-radio-pay-amount::-ms-input-placeholder {
  font-family: 'SF Pro Display';
  font-weight: 300;
  font-size: 18px;
  line-height: 116.66667%;
  color: #C4C4C4;
}

.form-help__label-radio-pay-amount::placeholder {
  font-family: 'SF Pro Display';
  font-weight: 300;
  font-size: 18px;
  line-height: 116.66667%;
  color: #C4C4C4;
}

.form-help__label-radio-pay-amount._active {
  border: 1px solid #EF6437;
  color: #292929;
}

.form-help__label-radio-pay-amount_last {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 15px;
  width: 100%;
}

.form-help__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 50px;
  width: 100%;
  cursor: pointer;
  background: #EF6437;
  border-radius: 5px;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-help__btn span {
  font-family: 'SF Pro Display';
  font-weight: 500;
  font-size: 14px;
  line-height: 121.42857%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.people__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px -8px;
  margin-bottom: 15px;
}

.people__col {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  padding: 0px 8px;
  margin-bottom: 10px;
}

.people__item {
  width: 75px;
  height: 75px;
  background: #EDEDED;
}

.people__item img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}

.reports__inner {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'SF Pro Display';
  font-weight: 300;
  font-size: 18px;
  line-height: 133%;
  color: #292929;
}

.reports__item {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: 'SF Pro Display';
  font-weight: 300;
  font-size: 18px;
  line-height: 133%;
  color: #292929;
}

.reports__name {
  margin-right: 20px;
}

@media (max-width: 1430px) {
  .header__body {
    padding-bottom: calc(10px + 10 * ((100vw - 320px) / 1110));
  }

  .logo__img {
    width: calc(50px + 27 * ((100vw - 320px) / 1110));
  }

  .logo__img {
    height: calc(50px + 27 * ((100vw - 320px) / 1110));
  }

  .logo__text {
    font-size: calc(14px + 6 * ((100vw - 320px) / 1110));
  }

  .sub-menu {
    padding-top: calc(20px + 20 * ((100vw - 320px) / 1110));
  }

  .sub-menu {
    padding-bottom: calc(0px + 40 * ((100vw - 320px) / 1110));
  }

  .sub-menu {
    padding-left: calc(20px + 20 * ((100vw - 320px) / 1110));
  }

  .sub-menu {
    padding-right: calc(20px + 20 * ((100vw - 320px) / 1110));
  }

  .sub-menu {
    min-width: calc(600px + 295 * ((100vw - 320px) / 1110));
  }

  .sub-menu__col {
    margin-right: calc(20px + 30 * ((100vw - 320px) / 1110));
  }

  .main__text {
    font-size: calc(16px + 2 * ((100vw - 320px) / 1110));
  }

  .footer__body {
    padding-top: calc(20px + 30 * ((100vw - 320px) / 1110));
  }

  .footer__body {
    padding-bottom: calc(20px + 30 * ((100vw - 320px) / 1110));
  }

  .footer__content {
    margin-bottom: calc(20px + 30 * ((100vw - 320px) / 1110));
  }

  .list-footer li {
    margin-bottom: calc(10px + 10 * ((100vw - 320px) / 1110));
  }

  .list-footer__title {
    font-size: calc(16px + 2 * ((100vw - 320px) / 1110));
  }

  .list-footer__link {
    font-size: calc(16px + 2 * ((100vw - 320px) / 1110));
  }

  .list-footer__title-link {
    font-size: calc(16px + 2 * ((100vw - 320px) / 1110));
  }

  .contacts-footer__col {
    margin-bottom: calc(0px + 50 * ((100vw - 320px) / 1110));
  }

  .contacts-footer__number {
    font-size: calc(16px + 2 * ((100vw - 320px) / 1110));
  }

  .social-footer__title {
    font-size: calc(16px + 2 * ((100vw - 320px) / 1110));
  }

  .footer-spollers__title {
    font-size: calc(16px + 2 * ((100vw - 320px) / 1110));
  }

  .footer-spollers__link {
    font-size: calc(16px + 2 * ((100vw - 320px) / 1110));
  }

  .footer-spollers__title-link {
    font-size: calc(16px + 2 * ((100vw - 320px) / 1110));
  }

  .section {
    padding-top: calc(20px + 30 * ((100vw - 320px) / 1110));
  }

  .section {
    padding-bottom: calc(20px + 30 * ((100vw - 320px) / 1110));
  }

  .section:last-child {
    padding-bottom: calc(40px + 60 * ((100vw - 320px) / 1110));
  }

  .section__title {
    font-size: calc(26px + 10 * ((100vw - 320px) / 1110));
  }

  .section-item__price {
    font-size: calc(16px + 2 * ((100vw - 320px) / 1110));
  }

  .section-item__place {
    font-size: calc(16px + 2 * ((100vw - 320px) / 1110));
  }

  .section-item__title {
    font-size: calc(16px + 4 * ((100vw - 320px) / 1110));
  }

  .intro {
    margin-bottom: calc(40px + 10 * ((100vw - 320px) / 1110));
  }

  .slider-help__text p {
    font-size: calc(16px + 2 * ((100vw - 320px) / 1110));
  }
}

@media (max-width: 1330px) {
  .footer__content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .footer__col {
    margin-bottom: 15px;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
    margin-right: 0;
    padding-right: 10px;
  }

  .footer__col:last-child {
    margin-bottom: 0;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding-right: 0;
  }

  .contacts-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .contacts-footer__col {
    margin-bottom: 20px;
  }

  .contacts-footer__col:last-child {
    margin-bottom: 0;
  }

  .contacts-footer__contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .contacts-footer__contacts li {
    margin-bottom: 5px;
    margin-right: 20px;
  }

  .contacts-footer__contacts li:last-child {
    margin-right: 0;
  }

  .contacts-footer__info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .social-footer__title {
    text-align: center;
  }

  .social-footer__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .social-footer__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
}

@media (max-width: 1330px) and (max-width: 430px) {
  .contacts-footer__contacts {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-width: 1300px) {
  .top-menu__body {
    display: block;
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    padding: 90px 25px 30px;
    background-color: #8b8888;
    -webkit-transition: left 0.3s ease 0s;
    -o-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
    overflow: auto;
  }

  .top-menu__body::after {
    content: '';
    display: none;
    width: 100%;
    height: 90px;
    background-color: #8b8888;
    position: fixed;
    z-index: 8;
    top: 0;
    left: 0;
    -webkit-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
  }

  .top-menu__body._active {
    left: 0;
  }

  .top-menu__body._active::after {
    display: block;
  }

  .top-menu__body *:last-child {
    margin-bottom: 0;
  }

  .top-menu__body li {
    color: #fff;
    border: 1px solid #fff;
  }

  .top-menu__buttons {
    display: block;
    margin-bottom: 10px;
  }

  .top-menu__buttons li {
    min-height: 40px;
    text-transform: uppercase;
    margin-left: 0;
  }

  .top-menu__burger {
    display: block;
    position: relative;
    z-index: 10;
    width: 30px;
    height: 19px;
    cursor: pointer;
  }

  .top-menu__burger span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1.5px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #EF6437;
  }

  .top-menu__burger span:first-child {
    top: 0px;
  }

  .top-menu__burger span:last-child {
    top: auto;
    bottom: 0px;
  }

  .top-menu__burger._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    background-color: #fff;
  }

  .top-menu__burger._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1.5px);
  }

  .top-menu__burger._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1.5px);
  }
}

@media (max-width: 1200px) {
  .page__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .people__col {
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
  }

  .reports__inner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0px -10px;
  }

  .reports__item {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
    padding: 0px 10px;
  }
}

@media (max-width: 1020px) {
  .header__top {
    margin-bottom: 0;
  }

  .header__bottom {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .bottom-menu {
    display: block;
    -webkit-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
  }

  .bottom-menu li {
    margin-bottom: 10px;
    min-height: 30px;
    min-width: 205px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 5px;
    color: #fff;
    border: 1px solid #fff;
    cursor: pointer;
    -webkit-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
  }

  .bottom-menu li:hover,
  .bottom-menu li:active {
    background: #EF6437;
    color: #fff;
  }

  .bottom-menu__link {
    padding: 10px;
    display: block;
    font-family: 'SF Pro Display';
    font-weight: 400;
    font-size: 16px;
    line-height: 118.75%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: inherit;
  }

  .bottom-menu__item-about-fond {
    position: relative;
  }

  .bottom-menu._active {
    left: 0;
  }

  .bottom-menu *:last-child {
    margin-bottom: 0;
  }

  .menu {
    display: none;
  }
}

@media (max-width: 950px) {
  .section__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .section__title {
    margin-bottom: 10px;
  }

  .section__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 760px) {
  .footer__col {
    display: none;
  }

  .footer__col:last-child {
    display: block;
  }

  .footer-spollers {
    display: block;
    margin-bottom: 20px;
  }

  .reports__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
  }
}

@media (max-width: 670px) {
  .section-item__header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .section-item__pay {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .section-item__price {
    margin-right: 0;
  }
}

@media (max-width: 525px) {
  .reports__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}

@media (max-width: 500px) {
  .logo__text {
    max-width: 200px;
  }
}

@media (max-width: 480px) {
  .section__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}